{% extends "header.html" %}
{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <center>
                <p class="lead">New Product</p>
            </center>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="home mt-8">
        <div class="container">
            <div class="flex-fill p-3 justify-content-center">
                <div class="form-group">
                    <form action="/product/create" method="POST" enctype="multipart/form-data">
                        <input type="number" class="form-control" name="id" placeholder="Product ID"/><br>
                        <input type="text" class="form-control" name="product_name" placeholder="Product Name"/><br>
                        <input type="text" class="form-control" name="product_details" placeholder="Product Details"/><br>
                        <input type="number" class="form-control" name="price" placeholder="Price"/><br>



                        </select>
                        <div style="text-align: center;"> <input type="submit" class="btn btn-success" value="Submit"/></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}