{% extends "header.html" %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <center>
            <p class="lead">Order by User</p>
        </center>
    </div>
</div>
<div class="clearfix"></div>
<div class="home mt-8">
    <div class="container">
	    <div class="flex-fill p-3 justify-content-center">
            <div class="form-group">
                <form action="/product/list" method="POST" enctype="multipart/form-data">
                    <input type="number" class="form-control" name="id_user" placeholder="Enter User Id"/><br>
                   <div style="text-align: center;"> <input type="submit" class="btn btn-success" value="Submit"/></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}