{% extends "header.html" %}
{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <center>
                <p class="lead">New Product</p>
            </center>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="home mt-8">
        <div class="container">
            <div class="flex-fill p-3 justify-content-center">
                <div class="form-group">
                    <form action="/user/create" method="POST" enctype="multipart/form-data">
                        <input type="number" class="form-control" name="phone_number" placeholder="Phone number"/><br>
                        <input type="text" class="form-control" name="name" placeholder="Enter first Name"/><br>
                        <input type="text" class="form-control" name="last_name" placeholder="Enter last name"/><br>
                        <input type="email" class="form-control" name="e_mail" placeholder="Enter email"/><br>
                        <input type="text" class="form-control" name="password" placeholder="Create Password"/><br>



                        </select>
                        <div style="text-align: center;"> <input type="submit" class="btn btn-success" value="Submit"/></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}